:root {
  --color-primary: #29BF12;
  --color-secondary: #256EFF;
  --color-tertiary: #CA054D;
  --color-quaternary: #CF5C36;
  --selected-page-color: #fff;

  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;

  --color-light: #f8f9fa;
  --color-dark: #0F0E0E;

  --color-white: #fff;
  --color-black: #000;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: calc(1 + 0.5rem);
  color: var(--color-white);
  background-color: var(--color-dark);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-block-end: 5000px;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.cards {
  position: relative;
  cursor: pointer;
  transition: all 1s ease-in-out; 
  z-index: 100;
  width: 20vw;
  height: 80vh;

  &:nth-child(1) {
    background-color: var(--color-primary);
  }

  &:nth-child(2) {
    background-color: var(--color-secondary);
  }

  &:nth-child(3) {
    background-color: var(--color-tertiary);
  }

  &:nth-child(4) {
    background-color: var(--color-quaternary);
  }
}

.text-layer {
  opacity: 0;
  transition: all 0.5s ease-in-out; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(1rem, 15vw, 16rem);
  font-weight: 900;
  z-index: -100;
  color: var(--color-white);
  /* text-shadow: 0 0 10px var(--color-white); */
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-corner {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: var(--selected-page-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(109, 106, 106);
}

.cardInfo {
  position: absolute;
  right: 1rem;
  top: 1rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  z-index: 110;
  color: var(--color-dark);
  animation: infoFadeAnimation 900ms ease-in-out;
}

@keyframes infoFadeAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  gap: 1rem;
  padding-inline: 5rem;
  animation: scrollFadeAnimation linear;
  animation-timeline: view();
  animation-range-start: 0;
  animation-range-end: 45vh
}

@keyframes scrollFadeAnimation {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}